$primary: #074fbb;
$light-blue: #2370e4;
$color_red: #d1121d;
$green-1: #25afa7;
$grey-1:#333;
$grey-2: #3e3e3e;
$grey-3: #F0F2F5;
$grey-4: #ccc;
$grey-5: #3f3f3f;
$yellow: #ffc346;
$orange: #ff8f00;
$light: #fff;
$dark: #000;

$main-01: #0a2349;
$gray-03: #c6cbd0;

